<% var block = options.block %>

<% if(block.image) { %>
	<figure class="content_image content_image--<%- block.align %> content_image--width-<%- block.width %> content_image--<%- block.proportions %>">
		<% if(block.proportions) { %>
		<div class="content_image__inner <%- block.proportions %>_image">
			<img src="<%= plugins.imgix(block.image, { q: 60, w: 1000, lossless: 1, fm: 'jpg' }) %>" class="content_image__image" alt="<%= block.alt %>" />
		</div>
		<% } %>
		<% if(block.description) { %>
			<figcaption class="content_image__description"><%- block.description %></figcaption>
		<% } %>
	</figure>
<% } %>